Repository stevenMarmion/sae-web-php, pull requests merged in 2024-02, with the labels that each got.

#30 Dev page accueil
  App/Models/Album.php
  App/Models/EntityOperations/CrudAlbum.php
  App/Views/Details/detailAlbum.php
  App/Views/Home/accueil.php
  App/Views/Recherche/Recherche.php
  DataRessources/images/base.jpg
  Database/DatabaseConnection/ConnexionBDD.php
  Database/DatabaseScripts/BD_app_Musique.sqlite3
  Database/DatabaseScripts/destruction.sql
  Public/JS/affichageInfo.js
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#32 image de base
  App/Views/Details/detailAlbum.php
  App/Views/Home/accueil.php
Labels: BDD, Sqlite, PHP, fontend

#35 Ajout du style de la page d'accueil et de l'id/pseudo dans la session
  App/Controllers/Auth/AuthLoginController.php
  App/Controllers/Auth/AuthRegisterController.php
  App/Views/Details/DetailAlbum.php
  App/Views/Details/detailAlbum.php
  App/Views/Home/Accueil.php
  App/Views/Home/accueil.php
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Public/Css/Details/details-albums-style.css
  Public/Css/Home/home-style.css
Labels: PHP, fontend

#37 Dev refactoring
  App/Autoloader/autoloader.php
  App/Controllers/Admin/AdminAddController.php
  App/Controllers/Admin/AdminDeleteController.php
  App/Controllers/Admin/AdminUpdateController.php
  App/Controllers/Auth/AuthLoginController.php
  App/Controllers/Auth/AuthRegisterController.php
  App/Models/Album.php
  App/Models/Artiste.php
  App/Models/EntityOperations/CrudAlbum.php
  App/Models/EntityOperations/CrudArtiste.php
  App/Models/EntityOperations/CrudComposer.php
  App/Models/EntityOperations/CrudContenir.php
  App/Models/EntityOperations/CrudEtre.php
  App/Models/EntityOperations/CrudFavoris.php
  App/Models/EntityOperations/CrudGenre.php
  App/Models/EntityOperations/CrudInterprete.php
  App/Models/EntityOperations/CrudNote.php
  App/Models/EntityOperations/CrudPlaylist.php
  App/Models/EntityOperations/CrudUser.php
  App/Models/Favori.php
  App/Models/Genre.php
  App/Models/Note.php
  App/Models/Playlist.php
  App/Models/User.php
  App/Parser/YamlParser.php
  App/Views/Admin/Details/Add/PanelAddAlbums.php
  App/Views/Admin/Details/Delete/PanelDeleteAlbum.php
  App/Views/Admin/Details/Delete/PanelDeleteArtiste.php
  App/Views/Admin/Details/Delete/PanelDeleteGenre.php
  App/Views/Admin/Details/Delete/PanelDeleteUser.php
  App/Views/Admin/Details/PanelDetails.php
  App/Views/Admin/Details/Update/PanelUpdateAlbum.php
  App/Views/Admin/Details/Update/PanelUpdateArtiste.php
  App/Views/Admin/Details/Update/PanelUpdateGenre.php
  App/Views/Admin/Details/Update/PanelUpdateUser.php
  App/Views/Admin/PanelAdmin.php
  App/Views/Auth/UserLogin.php
  App/Views/Auth/UserRegister.php
  App/Views/Details/DetailAlbum.php
  App/Views/Home/Accueil.php
  Database/DatabaseConnection/ConnexionBDD.php
  Database/DatabaseConnection/InstancesTables.php
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Public/Css/Details/details-albums-style.css
Labels: documentation, BDD, PHP, backend

#39 Finition du développement du détail artiste ==> visualisation des gen…
  App/Controllers/Admin/AdminDeleteController.php
  App/Controllers/Auth/AuthLoginController.php
  App/Controllers/Auth/AuthRegisterController.php
  App/Models/EntityOperations/CrudEtre.php
  App/Models/EntityOperations/CrudFavoris.php
  App/Models/Genre.php
  App/Views/Admin/Details/Add/PanelAddAlbums.php
  App/Views/Admin/Details/Add/PanelAddArtiste.php
  App/Views/Admin/Details/Delete/PanelDeleteAlbum.php
  App/Views/Admin/Details/Delete/PanelDeleteArtiste.php
  App/Views/Admin/Details/Delete/PanelDeleteGenre.php
  App/Views/Admin/Details/Delete/PanelDeleteUser.php
  App/Views/Admin/Details/Update/PanelUpdateAlbum.php
  App/Views/Admin/Details/Update/PanelUpdateArtiste.php
  App/Views/Admin/Details/Update/PanelUpdateGenre.php
  App/Views/Admin/Details/Update/PanelUpdateUser.php
  App/Views/Admin/PanelAdmin.php
  App/Views/Details/DetailAlbum.php
  App/Views/Details/DetailArtiste.php
  App/Views/Home/Accueil.php
  App/Views/Layout/Home/NavGenerique.php
  Bash/bash_config.sh
  Public/Css/Details/details-artistes-style.css
  Public/Css/Home/home-style.css
  Public/Css/Layout/Home/nav-generique-style.css
  Public/Icons/home-modified.png:Zone.Identifier
  Public/Icons/home.png
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#41 Dev notation album
  App/Controllers/Details/UserNoteAlbumController.php
  App/Models/EntityOperations/CrudNote.php
  App/Views/Details/DetailAlbum.php
  App/Views/Details/DetailArtiste.php
  App/Views/Home/Accueil.php
  App/Views/Layout/Home/NavGenerique.php
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Public/Css/Details/details-albums-style.css
  Public/Icons/home-modified.png:Zone.Identifier
  Public/Icons/star_white.png
  Public/Icons/star_yellow.png
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#42 Dev module test
  App/Models/Album.php
  App/Models/Artiste.php
  App/Models/Playlist.php
  App/Models/User.php
  App/Parser/YamlParser.php
  Bash/bash_tests.sh
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Test/DatabaseTest/ConnexionBDDTest.php
  Test/ModelsTest/AlbumTest.php
  Test/ModelsTest/ArtisteTest.php
  Test/ModelsTest/FavoriTest.php
  Test/ModelsTest/GenreTest.php
  Test/ModelsTest/NoteTest.php
  Test/ModelsTest/PlaylistTest.php
  Test/ModelsTest/UserTest.php
  Test/ParserTest/YamlParserTest.php
Labels: BDD, PHP, backend, YML, Test

#46 Dev playlist et like
  App/Controllers/Album/dislike.php
  App/Controllers/Album/estLike.php
  App/Controllers/Album/like.php
  App/Controllers/Auth/AuthLoginController.php
  App/Controllers/Auth/AuthRegisterController.php
  App/Controllers/Playlist/AjoutAlbum.php
  App/Controllers/Playlist/CreationPlaylist.php
  App/Models/EntityOperations/CrudAlbum.php
  App/Models/EntityOperations/CrudPlaylist.php
  App/Models/EntityOperations/CrudPosseder.php
  App/Models/EntityOperations/CrudUser.php
  App/Models/Playlist.php
  App/Models/User.php
  App/Views/Home/Accueil.php
  App/Views/Layout/Home/NavGenerique.php
  App/Views/playlist/Playlists.php
  Bash/bash_insertion.sh
  DataRessources/imagePlaylist/base.jpg
  DataRessources/imagePlaylist/like.jpg
  DataRessources/like/coeur_remplie.jpg
  DataRessources/like/coeur_vide.jpg
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Database/DatabaseScripts/creation.sql
  Database/DatabaseScripts/deleteAll.sql
  Database/DatabaseScripts/destruction.sql
  Public/Css/Acceuil/like.css
  Public/JS/like.js
  Public/JS/verifLike.js
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#48 Dev détail playlist
  App/Models/EntityOperations/CrudContenir.php
  App/Views/Details/DetailPlaylist.php
  App/Views/Home/Accueil.php
  App/Views/Playlist/Playlists.php
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Public/Css/Details/details-playlist-style.css
  Public/index.php
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#49 Dev detail playlist
  App/Controllers/Playlist/CreationPlaylist.php
  App/Controllers/Playlist/DeletePlaylistController.php
  App/Controllers/Playlist/UpdatePlaylistController.php
  App/Models/EntityOperations/CrudAlbum.php
  App/Models/EntityOperations/CrudContenir.php
  App/Models/EntityOperations/CrudPlaylist.php
  App/Models/Playlist.php
  App/Views/Details/DetailPlaylist.php
  App/Views/Playlist/Delete/DeletePlaylist.php
  App/Views/Playlist/Playlists.php
  App/Views/Playlist/Update/UpdatePlaylist.php
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Public/Css/Details/details-playlist-style.css
  Public/Css/Playlist/Delete/delete-playlist-style.css
  Public/Css/Playlist/Update/update-playlist-style.css
  Public/Css/Playlist/playlist-style.css
  Test/ModelsTest/PlaylistTest.php
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#50 Dev pages profil
  App/Controllers/Profil/UserUpdateController.php
  App/Views/Layout/Home/NavGenerique.php
  App/Views/Profil/UserProfil.php
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Database/DatabaseScripts/BD_app_Musique.sqlite3
  Public/Css/Profil/profile-style.css
Labels: fontend, backend

#52 Finition de l'ajout de la fonctionnalité de suppression d'album depui…
  App/Controllers/Playlist/AjoutAlbum.php
  App/Controllers/Playlist/DeleteAlbumFromPlaylistController.php
  App/Models/EntityOperations/CrudFavoris.php
  App/Views/Details/DetailPlaylist.php
  App/Views/Profil/UserProfil.php
  Public/Css/Details/details-playlist-style.css
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#54 Dev page recherche
  App/Controllers/Recherche/FonctionRecherche.php
  App/Models/EntityOperations/CrudAlbum.php
  App/Views/Layout/Home/NavGenerique.php
  App/Views/Recherche/Recherche.php
  Bash/bash_destruction_bd.sh
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Public/JS/recherche.js
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#56 Mise en place de la protection de la route vers le panel admin
  App/Views/Admin/PanelAdmin.php
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
  Public/Css/Admin/panel-admin-style.css
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#58 >> UML - DIAGRAMME CLASSE - Finition du diagramme de classe du modèle
  UML/CampusGrooveDiagrammeClass.drawio
  UML/CampusGrooveDiagrammeClass.drawio.png
Labels: PHP, UML, Analysis

#59 >> UML - DIAGRAMME DE SEQUENCE - Finition des diagramme de séquences
  App/Views/Details/DetailArtiste.php
  UML/CampusGrooveDiagrammeSequence.drawio.png
  UML/DiagrammeSequenceAffichageAlbum.drawio.png
  UML/DiagrammeSequenceAffichageDetailAlbum.drawio.png
  UML/DiagrammeSequenceAffichageDetailArtiste.drawio.png
  UML/DiagrammeSequenceRechercheAvancee.drawio.png
Labels: PHP, UML, Analysis

#60 Merge develop into DEV_panel_admin + modification de la colonne Favor…
  App/Views/Admin/Details/PanelDetails.php
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#62 ajout de la pagination
  App/Views/Home/Accueil.php
  Database/DatabaseScripts/BDD_ALBUM.sqlite3
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#65 Finition de la remise en forme de la pagination ==> mise en place de …
  App/Views/Home/Accueil.php
  Public/Css/Home/home-style.css
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#66 >> Mise en place du blocage clique bouton si la pagination arrière o…
  App/Views/Home/Accueil.php
  Public/Css/Home/home-style.css
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend

#67 Merge branch 'develop' into DEV_pages_profil
  UML/DiagrammeActiviteConnexion.png
  UML/DiagrammeActiviteDetailCompositeur.png
  UML/DiagrammeActiviteIncription.png
  UML/DiagrammeActiviteNoteAlbum.png
Labels: documentation, UML
