Repository stevenMarmion/sae-web-php, pull requests merged in 2024-01, with the labels that each got.

#13 ajout de classes modèles
  Models/Artiste.php
  Models/Genre.php
  Models/Musique.php
  Models/User.php
Labels: PHP

#14 ajout de la classe Autoloader.php
  Autoloader/autoloader.php
Labels: PHP

#19 Dev crud tables
  BDD/BD_app_Musique.sqlite3
  BDD/creation.sql
  BDD/destruction.sql
  BDD_PDO/ConnexionBDD.php
  CRUD/CrudArtiste.php
  CRUD/CrudEtre.php
  CRUD/CrudFavoris.php
  CRUD/CrudGenre.php
  CRUD/CrudMusique.php
  CRUD/CrudUser.php
  Models/Album.php
  Models/User.php
Labels: BDD, Sqlite, PHP, backend

#25 Modification des paramètres crud YML en objet
  App/Models/Album.php
  App/Models/EntityOperations/CrudAlbum.php
  App/Models/EntityOperations/CrudArtiste.php
  App/Models/EntityOperations/CrudGenre.php
  App/Models/EntityOperations/CrudUser.php
  App/Models/User.php
Labels: BDD, Sqlite, PHP, backend

#27 Ajout des dernières tables en lien avec le dernier versionnage du MCD
  App/Models/Album.php
  App/Models/Artiste.php
  App/Models/Genre.php
  App/Models/Note.php
  App/Models/Playlist.php
  App/Models/User.php
  Database/DatabaseScripts/creation.sql
  Database/DatabaseScripts/destruction.sql
Labels: BDD, Sqlite, PHP, backend

#28 Mise à niveau des CRUD en fonction des nouvelles tables de la dernièr…
  App/Models/EntityOperations/CrudContenir.php
  App/Models/EntityOperations/CrudEtre.php
  App/Models/EntityOperations/CrudNote.php
  App/Models/EntityOperations/CrudPlaylist.php
Labels: BDD, Sqlite, PHP, backend

#29 Dev connexion inscription
  App/Controllers/Auth/AuthLoginController.php
  App/Controllers/Auth/AuthRegisterController.php
  App/Models/Album.php
  App/Models/EntityOperations/CrudAlbum.php
  App/Models/EntityOperations/CrudArtiste.php
  App/Models/EntityOperations/CrudContenir.php
  App/Models/EntityOperations/CrudEtre.php
  App/Models/EntityOperations/CrudFavoris.php
  App/Models/EntityOperations/CrudGenre.php
  App/Models/EntityOperations/CrudNote.php
  App/Models/EntityOperations/CrudPlaylist.php
  App/Models/EntityOperations/CrudUser.php
  App/Models/Note.php
  App/Models/Playlist.php
  App/Models/User.php
  App/Views/Auth/UserLogin.php
  App/Views/Auth/UserRegister.php
  Bash/bash_insertion.sh
  Bash/serveur.sh
  DataRessources/cote_ivoire.yml
  Database/DatabaseConnection/ConnexionBDD.php
  Database/DatabaseConnection/InstancesTables.php
  Database/DatabaseScripts/BD_app_Musique.sqlite3
  Public/Css/Auth/login-style.css
  Public/Css/Auth/register-style.css
  Public/index.php
  readme.md
Labels: enhancement, BDD, Sqlite, PHP, fontend, backend, YML
